extends ../index.pug

block variables
    - var template = 'threejs'

block content
    .threejs
        .threejs__intro
            .threejs__intro__text Welcome to the new world
        .threejs__story
    .threejs__canvas__container